@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;

    font-family: 'Outfit', sans-serif;
    background-color: var(--LightGray);
}

.container {
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 1px 1px 1px var(--DarkBlue);

    width: 300px;
    height: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.qr-code {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
}

.info-container {
    width: 90%;
    padding-left: 1rem;
}

.info-container p {
    text-align:center;
    padding-bottom: 1rem;
}

.title {
    font-weight: 700;
    color: var(--DarkBlue);
    font-size: 1.2rem;
}

.info {
    color: var(--GrayishBlue);
    font-size: 0.9rem;
}

.attribution {
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 100%;
    justify-content: center;
}